body {
    font-family: monospace;
    background-color: rgb(243, 239, 227);
    color: #330033;
    position: relative;
}

#name {
    padding: inherit;
    border-width: 2px;
}

#navbar {
    background-color: rgb(236, 229, 201);
}

li {
    font-size: 14px;
}

.about {
    margin: 25px;
}

h1 {
    font-size: x-large;
    margin: 10px;
}

.one {
    /* background-color: #FF99FF; */
    margin: 25px;
}

.title-card {
    background-color: #ccffff;
    width: 33%;
    text-align: center;
    padding: 1.5%;
}

#titlecard2 {
    margin-left: 4%;
    margin-top: 2%;
    width: 30%;
}

#pic {
    float: left;
    padding: 5%;
}


footer {
    /* border: solid thin; */
    text-align: center;
    /* border-color: #CCFFFF; */
    height: 50px;
    background-color: rgb(236, 229, 201);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.responsive {
    width: 100%;
    /* height: auto; */
    padding: 3%;
}

.responsive1 {
    width: 75%;
    height: auto;
    padding: 2%;
}
.photo {
    width: 50%;
    min-width: 300px;
}

.box {
    min-width: 400px;
}

.nav-link:hover {
    color: #ccffff;
}

.project-image {
    width: 96%;
    height: 250px;
    /* border: solid 1px pink; */
    margin: 2%;
    padding: 2%;
    position: relative;
    overflow:hidden;
}

 .project-text {
    background-color: #ccffff;
    width: 65%;
    height: 50px;
    margin: 10%; 
    padding-left: 10%;
    text-align: left;
    line-height: 50px;
    position: absolute;
    bottom: 25px;
}

.project-list {
    width: 75%;
    margin: 3%;
}

.btmrow {
    margin-bottom: 5%;
}