body {
    font-family: monospace;
    background-color: rgb(243, 239, 227);
    color: #330033;
}


#name {
    padding: inherit;
    border-width: 2px;
}

#navbar {
    /* border-style: solid;
    border-width: thin;
    border-color: #CCFFFF; */
    background-color: rgb(236, 229, 201);
}

li {
    font-size: 16px;
}

.about {
    margin: 25px;
}

h1 {
    font-size: x-large;
    margin: 10px;
}

.one {
    /* background-color: #FF99FF; */
    margin: 25px;
}

#pic {
    float: left;
    padding: 5%;
}


footer {
    /* border: solid thin; */
    text-align: center;
    /* border-color: #CCFFFF; */
    background-color: rgb(236, 229, 201);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

/* #name, #navbar, .about, .one, #pic, .col, main, section, footer {
    border: 3px solid;
    border-color: #006699;
} */

.responsive {
    width: 100%;
    height: auto;
    padding: 2%
}

.photo {
    width: 50%;
    min-width: 300px;
}

.box {
    min-width: 400px;
}

.nav-link:hover {
    color: #ccffff;
}

.project-image {
    width: 96%;
    height: 300px;
    /* border: solid 1px pink; */
    margin: 2%;
    position: relative;
}

.project-text {
    background-color: aqua;
    color: white;
    width: 96%;
    height: 50px;
    /* padding: 2%; */
    margin: 2%;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 50px;
}

.project-list {
    width: 85%;
    margin: 3%;
}